@charset "UTF-8";
/* Noto Sans JP フォント */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap");
/* Poppins フォント */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

html {
  font-size: calc(10 * 100vw / 375); /* 390はSPデザインカンプの幅 */
}

body {
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

/* ヘッダーのスタイル */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  width: 100%;
  box-shadow: 0rem 0.2rem 0.8rem rgba(0, 0, 0, 0.2); /* 右方向に影 */
  color: #005bac;
  height: 7rem;
  font-size: 1.2rem;
  background-color: #ffffff; /* 背景色 */
  position: sticky; /* これで追尾される */
  top: 0; /* 上端に固定 */
  z-index: 1000; /* 他のコンテンツより前面に表示 */
}

.header__container {
  max-width: 1200px;
  margin-inline: auto;
  width: 100%;
  padding: 0 0 0 1.6rem;
  height: 100%;
}

.header__content {
  display: flex;
  height: 100%;
}

.header__link {
  display: block;
  align-items: center; /* 垂直方向に中央寄せ */
  color: #005bac;
  font-size: 2.2rem;
  font-family: "Poppins", sans-serif;
}

.header__image {
  max-width: 100%;
  height: 100%;
  width: 16.337rem;
  display: block;
}

/** スマホハンバーガーメニュー */
.hamburger {
  background-color: #005bac;
  width: 7rem;
  height: 100%;
  cursor: pointer;
  padding: 2.2rem 2rem 2.17rem;
  margin-left: auto;
}

.hamburger--txt {
  display: block;
  margin: 0 0 0.525rem 0;
  height: 0.525rem;
  background-color: #ffffff;
}

.sp-nav {
  position: fixed;
  top: 7rem;
  right: -100%;
  background-color: #005bac;
  width: 100%;
  font-size: 1.8rem;
  height: 33.1rem;
  padding: 2rem 2rem 3.2rem;
  transition: right 0.3s;
  z-index: 10; /* 他の要素より前面に表示 */
}

.sp-nav__container {
  width: 100%;
}

.sp-nav.active {
  right: 0;
}

.sp-nav a {
  color: #ffffff;
}

.sp-nav__list {
  list-style: none;
  padding: 0 0 3.2rem 0;
  margin: 0;
}

.sp-nav li {
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid #80add5;
}

.sp-nav__img {
  height: 1.201rem;
  width: 1.4rem;
  margin: 0 1.2rem 0 0;
}

.sp-nav__link {
  display: flex;
  width: 100%;
  align-items: center;
  height: 5rem;
}

.sp-nav__link--cta {
  display: block;
  padding: 2rem 0;
  background-color: #ffffff;
  border-radius: 3.3rem;
  text-align: center;
}

.sp-nav__link--cta:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.sp-nav__link--txt {
  color: #005bac;
  font-size: 1.8rem;
  font-weight: bold;
}

.pc-nav {
  display: none;
}

/* メインビジュアル */
.cover {
  width: 100%;
  height: 25rem;
  background-image: url("/assets/images/mv_sp.jpg"); /* ここで背景画像を指定 */
  background-size: cover; /* 背景画像が要素全体をカバーするように調整 */
  background-repeat: no-repeat; /* 背景画像の繰り返しを防止 */
  padding: 3.4rem 0rem 3.47rem 1.6rem;
  background-position: center center;
}

.cover__container {
  max-width: 1200px;
  margin-inline: auto;
}

.cover__content {
  height: 18.132rem;
  top: 0;
  text-align: center;
}

.cover__achievement-title {
  font-size: 1.1rem;
  height: 1.1rem;
}

.cover__achievement-number {
  font-family: "Poppins", sans-serif; /* Poppinsフォントファミリを指定 */
  font-weight: 800; /* ExtraBold */
  font-style: italic; /* Italic */
  font-size: 2.5rem;
  color: #f11f8d;
}

.cover__achievement-number--one {
  font-size: 3.6rem;
}

.cover__info {
  height: 6.85rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
  margin: 0 0 2.07rem 0;
}

.cover__announcement {
  text-align: left;
}

.cover__announcement-title {
  font-size: 1.4rem;
}

.cover__announcement-text {
  font-size: 2.5rem;
  color: #005bac;
  font-weight: 900; /* Heavyウェイト */
}

.cover__picture--image {
  display: block; /* インライン要素の余白問題を解消 */
  width: 100%; /* 親要素の幅いっぱいに広げる */
  height: 100%; /* 親要素の高さいっぱいに広げる */
  object-fit: cover; /* アスペクト比を維持しつつ要素全体を覆う */
}

/* メインビジュアル下 申し込みエリア */
.action {
  padding: 2.4rem 6.2rem 0 6.3rem;
  position: relative; /* positionを追加 */
  z-index: 10; /* 他のエリアとの重なりを避ける */
}

.action__button {
  display: block;
  width: 100%;
  color: #ffffff;
  border-radius: 2.5rem;
  border: none;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  line-height: 4.8rem;
}

.action__button:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

/* ホバー時に光るエフェクトを遅延させる */
.action__button:hover {
  transition-delay: 0.2s; /* 光るエフェクトの遅延時間 */
}

.action__button--contact {
  background-color: #77cb33;
}

.action__button--application {
  background-color: #f6aa00;
  margin: 1.2rem 0;
}

.action__button--request {
  background-color: #3ac8ad;
}

/* 入会申し込みエリア */
.application {
  background-color: rgb(255, 85, 85, 10%);
  padding: 4rem 3.5rem;
}

.application__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.application__text {
  font-size: 1.6rem;
  margin: 0 0 1.2rem 0;
}

.application__btn-text {
  font-size: 2rem;
  font-weight: bold;
}

.application__btn {
  color: #ffffff;
  background: linear-gradient(to right, rgb(2, 113, 224), rgb(50, 150, 250));
  height: 100%;
  width: 100%;
  padding: 2rem 5.3rem 2rem 5.2rem;
  border-radius: 3.5rem;
  text-align: center;
}

.application__btn--nav {
  width: 28.2rem;
  height: 6.1rem;
}

.application__btn:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.application__btn--nav {
  font-size: 2rem;
  font-weight: bold;
}

/* 選ばれる３つの理由 */
.reason {
  padding: 1.6rem;
}

.reason__container {
  max-width: 1200px;
  margin-inline: auto;
}

.reason__title {
  font-size: 2.8rem;
  text-align: center;
  margin: 0 0 1.7rem 0;
}

.reason__content-heading {
  font-size: 2rem;
}

.reason--three-txt {
  font-size: 4rem;
  color: #f11f8d;
  font-weight: bold;
}

.reason__content {
  margin: 0 0 3.6rem 0;
}

.reason__content-body {
  font-size: 1.6rem;
}

.reason__image {
  margin: 0 0 0.8rem 0;
  width: 100%;
}

.reason__image_wrapper {
  text-align: center;
}

.reason__content--txt {
  font-family: "Poppins", sans-serif; /* Poppinsフォントファミリを指定 */
  font-weight: 800; /* ExtraBold */
  font-style: italic; /* Italic */
  font-size: 2.4rem;
  color: #f11f8d;
}

.reason__content--txt-highlight {
  font-size: 3.6rem;
}

/* コース・目的エリア  */
.choose {
  margin: 0 0 6.3rem 0;
}

.choose__title {
  text-align: center;
  font-size: 2.8rem;
  margin: 6.4rem 0 2.1rem 0;
}
.choose__container {
  width: 100%;
  padding: 1.6rem 0;
  max-width: 1200px;
  margin-inline: auto;
}

.choose__tabs {
  display: flex;
  padding: 0 1.6rem;
}

.choose__content {
  background: #f2f9ff;
  padding: 2.8rem 1.6rem;
  display: none;
}

.choose__tab--by-grade-level {
  margin: 0 1.5rem 0 0;
  font-size: 1.8rem;
}

.choose__tab--by-purpose {
  font-size: 1.8rem;
}

.choose__tab {
  background-color: #f0f0f0;
  width: 100%;
  padding: 2rem 1.9rem;
  border-radius: 1.2rem 1.2rem 0 0;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.choose__tab--active {
  background-color: #f2f9ff;
  color: #333333;
}

.cource__image {
  width: 100%;
}

.image-zoom-wrapper {
  overflow: hidden; /* 親要素からはみ出した部分を隠す */
  border-radius: 1.2rem;
}

.qa-and-classrooms__item {
  border-radius: 0;
}

.choose__image--arrow {
  padding: 0 0.81rem 0 0;
}

.choose__content--active {
  display: block;
}

.choose__content--select {
  display: flex;
  margin: 1.2rem 0 2.8rem 0;
  align-items: center;
}

.choose__content--image {
  display: flex;
  align-items: center;
  margin: 0 0.82rem 0 0;
}

.choose__txt {
  font-size: 2rem;
  font-weight: bold;
}

.choose__content--select {
  padding: 1.2rem 0 0 0;
}

.choose__link:hover {
  color: #0056b3;
}

/* 費用エリアのスタイル */
.cost {
  padding: 6.4rem 1.6rem;
}

.cost__container {
  max-width: 1200px;
  margin-inline: auto;
}

.cost__title {
  font-size: 2.8rem;
  text-align: center;
  margin: 0 0 2.3rem 0;
}

.cost__table {
  border-spacing: 0; /* セル間の隙間をなくす */
  border-collapse: collapse; /* セルの境界線を重ねて表示する */
  border: 0.3rem solid #cccccc;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
}

.cost__table td {
  border: 0.1rem solid #cccccc;
}

.cost__table--head {
  background-color: #f5f5f5;
}

.cost__table--head-left {
  padding: 2rem 0;
}

.cost__table--head-right {
  padding: 2rem 0;
}

.cost__table--right-td-num {
  font-size: 2.8rem;
  color: #f23397;
  font-weight: bold;
  padding: 1.2rem 0;
}

.cost__table--right-td-txt {
  font-size: 1.6rem;
  color: #f23397;
  font-weight: 500;
}

.cost__table--left-td {
  padding: 1.9rem 0;
}

/* お近くの教室を探す・よくあるご質問 */
.qa-and-classrooms {
  text-align: center;
}

.qa-and-classrooms__picture {
  display: block; /* 画像の親要素が画像を囲み、レイアウトの余白をなくす */
  width: 100%; /* 幅を100%に設定 */
  height: 100%; /* 高さを100%に設定 */
}

.qa-and-classrooms__image {
  width: 100%; /* 幅を親要素の幅に合わせる */
  height: 100%; /* 高さを親要素の高さに合わせる */
  object-fit: cover; /* 画像が親要素の領域に収まるように拡大・縮小し、余白をなくす */
  display: block; /* インライン要素の余白をなくす */
}

.qa-and-classrooms__link:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
/* 
.qa-and-classrooms__image {
  object-fit: cover;
  display: block; 
  width: 100%;
} */

.qa-and-classrooms__item {
  position: relative;
  display: block;
}

.qa-and-classrooms__text {
  position: absolute;
  top: 40%;
  left: 0.8rem;
  font-size: 2.2rem; /* テキストサイズの調整 */
  color: white; /* テキストカラー */
  font-weight: bold; /* テキストを太字に */
}

/* フッターのスタイル */
footer {
  display: flex;
  height: 8.3rem;
  background-color: #dddddd;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
}

.application--last {
  margin: 0 0 0 0;
}

/* PC・タブレット表示 */
@media screen and (min-width: 768px) {
  html {
    font-size: calc(10 * 100vw / 1200); /* 1200はPCカンプのコンテンツ幅 */
    scroll-behavior: smooth;
  }

  /* スマホメニュー非表示 */
  .hamburger {
    display: none;
  }

  .hamburger span {
    display: none;
  }

  .sp-nav {
    display: none;
  }

  /* ヘッダー */
  header {
    height: 10.1rem;
  }

  .header__container {
    padding: 0 2rem;
  }

  .header__content {
  }

  .header__image {
    width: 24.1rem;
  }

  .header__title--link {
    color: #005bac;
    font-size: 3.2rem;
  }

  .header__link {
    width: 24.1rem;
  }

  /* PCメニュー表示 */
  .pc-nav {
    display: flex;
    padding: 0 0 0 15.8rem;
    align-items: center;
  }

  .pc-nav__ul {
    display: flex;
    align-items: center;
  }

  .pc-nav__link {
    font-size: 2rem;
    line-height: 4.5rem;
    padding: 0 4.8rem 0 0;
  }

  .pc-nav__link:hover {
    color: #0056b3;
  }

  /* メイン */
  .main {
    width: 100%;
  }

  .action,
  .reason,
  .application,
  .choose,
  .cost,
  .qa,
  .find-a-class {
    padding: 0 3.8rem;
  }

  /* メインビジュアル */
  .cover {
    width: 100%;
    height: 65.1rem;
    background-image: url("/assets/images/mv_pc.jpg"); /* ここで背景画像を指定 */
    padding: 10.4rem 0 0 5rem;
  }

  .cover__container {
  }

  .cover__content {
    top: 0;
    text-align: center;
  }

  .cover__info {
    width: 32.521rem;
    height: 15rem;
    margin: 0 0 3.2rem 0;
  }

  .cover__achievement-title {
    font-size: 2rem;
  }

  .cover__achievement-number {
    font-size: 5.4rem;
  }

  .cover__achievement-number--one {
    font-size: 7.4rem;
  }

  .cover__announcement-title {
    font-size: 3.3rem;
  }

  .cover__announcement-text {
    font-size: 6rem;
  }

  /* 各種申し込みボタン */
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; /* ボタンの間隔 */
    bottom: 5rem;
    width: 100%;
  }

  .action__button {
    height: 7.5rem;
    line-height: 7.5rem;
    width: 34rem;
    border-radius: 3.8rem;
    color: white;
    font-size: 2.4rem;
  }

  .action__content--application {
    margin: 0 4rem;
  }

  /* 選ばれる３つの理由 */
  .reason {
  }

  .reason__title {
    font-size: 3.6rem;
  }

  .reason--three-txt {
    font-size: 5.4rem;
  }

  .reason__content {
    display: flex;
  }

  .reason__content--point2 {
    flex-direction: row-reverse; /* 順番を逆にする */
  }

  .reason__image-wrapper-point2 {
    padding: 0 0 0 2rem;
  }

  .reason__text-point2 {
    padding: 0 2rem 0 0;
  }

  .reason__media {
    width: 58rem;
  }

  .reason__image-wrapper {
    padding: 0 2rem 0 0;
  }

  .reason__text {
    padding: 0 0 0 2rem;
  }

  .reason__image-text {
    padding: 0 0 0 2rem;
  }

  .application__button {
    width: 28.2rem;
    height: 6.1rem;
  }

  .application {
    padding: 5.6rem 0;
  }

  .application__btn {
    width: 38rem;
    border-radius: 3.8rem;
    display: block;
  }

  .application__text {
    margin: 0 0 2rem 0;
  }

  .application__btn-text {
    font-size: 2.4rem;
    font-weight: bold;
  }

  .application__btn--nav {
    width: 28.2rem;
    height: 100%;
    padding: 1.6rem 4.1rem;
  }

  /* コース・目的 */
  .choose__tabs {
    padding: 0;
  }

  .choose__content--image-select {
    padding: 0 1.6rem;
  }

  .choose__content--select {
    margin: 0;
    gap: 0.6rem;
  }

  .choose__content--top {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 4rem 0;
  }

  .choose__content--bottom {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
  }

  .choose__image--arrow {
    padding: 0 0.17rem 0 0;
  }

  .image__container {
    display: block;
    overflow: hidden; /* 拡大した部分がはみ出さないように */
  }

  .choose__content--select {
    padding: 1.6rem 0 0 0;
  }

  .image-zoom {
    transition: transform 0.3s ease; /* スムーズに拡大する */
    width: 100%; /* 画像の幅を親要素に合わせる */
    height: auto; /* 高さを自動で調整 */
  }

  .image-zoom-wrapper:hover .image-zoom {
    transform: scale(1.2); /* 1.2倍に拡大 */
  }

  .cost {
    padding: 7.2rem 30rem;
  }

  .cost__title {
    font-size: 3.6rem;
    margin: 0 0 3.2rem 0;
  }

  .cost__table {
    font-size: 1.8rem;
  }

  .cost__table--head-left {
    padding: 2rem 0;
  }

  .cost__table--head-right {
    padding: 2.4rem 0;
  }

  .cost__table--left-td {
    padding: 1.6rem 0;
  }

  .cost__table--right-td-num {
    font-size: 3.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }

  .cost__table--right-td-txt {
    font-size: 1.8rem;
  }

  .qa-and-classrooms {
    display: flex;
  }

  .qa-and-classrooms__text {
    font-size: 3.2rem;
    position: absolute;
    top: 40%;
    left: 30%;
  }

  .qa-and-classrooms__item--qa {
    width: 100%;
  }

  .qa-and-classrooms__item--classrooms {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
