@charset "UTF-8";

html {
    font-size: calc(10 * 100vw / 375);
    scroll-padding-top: 5rem;
}

@media screen and (min-width: 768px) {
    html {
        font-size: calc(10 * 100vw / 1200);
        scroll-behavior: smooth;
    }
}

body {
    margin: 0 auto;
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.75;
    color: #333;
}

@media screen and (min-width: 768px) {
    /* メイン */
    .main {
        width: 100%;
    }
}

a {
    text-decoration: none;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

/* ヘッダー */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    width: 100%;
    box-shadow: 0rem 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
    color: #005bac;
    height: 7rem;
    font-size: 1.2rem;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

@media screen and (min-width: 768px) {
    /* ヘッダー */
    header {
        height: 10.1rem;
    }
}

.header__container {
    max-width: 1200px;
    margin-inline: auto;
    width: 100%;
    padding: 0 0 0 1.7rem;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .header__container {
        padding: 0 0 0 2.3rem;
    }
}

.header__content {
    display: flex;
	align-items: center;
    height: 100%;
}

.header__link {
    display: block;
    align-items: center;
    color: #005bac;
    font-size: 2.2rem;
    font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 768px) {
    .header__link {
        width: 23.4rem;
    }
}

@media screen and (min-width: 768px) {
    .header__title--link {
        color: #005bac;
        font-size: 3.2rem;
    }
}

.header__image {
    max-width: 100%;
    height: 100%;
    width: 16.337rem;
    display: block;
}

@media screen and (min-width: 768px) {
    .header__image {
        width: 24.1rem;
    }
}

/** スマホハンバーガーメニュー */
.hamburger {
    background-color: #005bac;
    width: 7rem;
    height: 100%;
    cursor: pointer;
    padding: 2.2rem 2rem 2.17rem;
    margin-left: auto;
}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .hamburger span {
        display: none;
    }
}

.hamburger--txt {
    display: block;
    margin: 0 0 0.525rem 0;
    height: 0.525rem;
    background-color: #ffffff;
}

.sp-nav {
    position: fixed;
    top: 7rem;
    right: -100%;
    background-color: #005bac;
    width: 100%;
    font-size: 1.8rem;
    height: 33.1rem;
    padding: 2rem 2rem 3.2rem;
    transition: right 0.3s;
    z-index: 10;
}

.pc-nav {
    display: none;
}

@media screen and (min-width: 768px) {
    .sp-nav {
        display: none;
    }
    .pc-nav {
        display: flex;
        align-items: center;
        margin-left: 16.2rem;
    }
    .pc-nav__ul {
        display: flex;
        align-items: center;
    }
    .pc-nav__link {
        font-size: 2rem;
        line-height: 2.3rem;
        margin: 0 4.8rem 0 0;
    }
    .pc-nav__link:hover {
        color: #0056b3;
    }
}

.sp-nav__container {
    width: 100%;
}

.sp-nav.active {
    right: 0;
}

.sp-nav a {
    color: #ffffff;
}

.sp-nav__list {
    list-style: none;
    padding: 0 0 3.2rem 0;
    margin: 0;
}

.sp-nav li {
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid #80add5;
}

.sp-nav__img {
    height: 1.201rem;
    width: 1.4rem;
    margin: 0 1.2rem 0 0;
}

.sp-nav__link {
    display: flex;
    width: 100%;
    align-items: center;
    height: 5rem;
}

.sp-nav__link--cta {
    display: block;
    padding: 2rem 0;
    background-color: #ffffff;
    border-radius: 3.3rem;
    text-align: center;
}

.sp-nav__link--cta:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.sp-nav__link--txt {
    color: #005bac;
    font-size: 1.8rem;
    font-weight: bold;
}

/* メインビジュアル */
.cover {
    width: 100%;
    height: 25rem;
    background-image: url("/assets/image/mv_sp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3.4rem 0rem 3.47rem 1.6rem;
    background-position: center center;
}

@media screen and (min-width: 768px) {
    .cover {
        width: 100%;
        height: 65.1rem;
        background-image: url("/assets/image/mv_pc.jpg");
        padding: 10.6rem 0 0 10rem;
    }
}

.cover__container {
    max-width: 1200px;
    margin-inline: auto;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .cover__achievements {
        padding: 1rem 0 0 0;
    }
}

.cover__achievement-title {
    font-size: 1.1rem;
}

@media screen and (min-width: 768px) {
    .cover__achievement-title {
        font-size: 2rem;
        line-height: 1.35;
    }
}

.cover__achievement-number {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 2.5rem;
    color: #f11f8d;
    line-height: 1;
    margin: 0.7rem 3px 0 0px;
}

@media screen and (min-width: 768px) {
    .cover__achievement-number {
        font-size: 5.4rem;
        margin: 1.5rem 0 0 0.9rem;
    }
}

.cover__achievement-number--one {
    font-size: 3.6rem;
}

@media screen and (min-width: 768px) {
    .cover__achievement-number--one {
        font-size: 7.4rem;
    }
}

.cover__info {
    height: 6.85rem;
    width: 15rem;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1.97rem 0;
}

@media screen and (min-width: 768px) {
    .cover__info {
        width: 32.521rem;
        height: 15rem;
        margin: 0 0 3.2rem 0;
    }
}

.cover__announcement {
    text-align: left;
}

@media screen and (min-width: 768px) {
    .cover__announcement {
        text-align: left;
        padding: 0.8rem 0 0 0
    }
}

.cover__announcement-title {
    font-size: 1.4rem;
    line-height: 1.47;
    display: block;
}

@media screen and (min-width: 768px) {
    .cover__announcement-title {
        font-size: 3.3rem;
        line-height: 1;
        margin-bottom: 1.2rem;
    }
}

.cover__announcement-text {
    font-size: 2.5rem;
    color: #005bac;
    font-weight: 900;
    line-height: 1.44;
}

@media screen and (min-width: 768px) {
    .cover__announcement-text {
        font-size: 6rem;
        line-height: 1.41;
    }
}

.cover__picture--image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 申し込みエリア */
.action {
    padding: 2.4rem 6.2rem 0 6.3rem;
    position: relative;
    z-index: 10;
}

@media screen and (min-width: 768px) {
    /* 入会申し込み */
    .action {
        margin-top: -3.6rem;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .action,
    .reason,
    .application,
    .choose,
    .cost,
    .qa,
    .find-a-class {
        padding: 0 3.8rem;
    }
}

@media screen and (min-width: 768px) {
    .action__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.action__button {
    display: block;
    width: 100%;
    color: #ffffff;
    border-radius: 2.5rem;
    border: none;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    line-height: 4.8rem;
}

@media screen and (min-width: 768px) {
    .action__button {
        height: 7.5rem;
        line-height: 7.5rem;
        width: 34rem;
        border-radius: 3.8rem;
        color: white;
        font-size: 2.4rem;
    }
}

.action__button:hover {
    opacity: 0.7;
    transition: opacity 0.2s ease;
}

.action__button--green {
    background-color: #77cb33;
}

.action__button--orange {
    background-color: #f6aa00;
    margin: 1.2rem 0;
}

@media screen and (min-width: 768px) {
    .action__button--orange {
        margin: 0 4rem;
    }
}

.action__button--light-turquoise {
    background-color: #3ac8ad;
}

/* 入会申し込みエリア */
.application {
    background-color: rgb(255, 85, 85, 10%);
    padding: 3.8rem 3.5rem 3.9rem;
}

@media screen and (min-width: 768px) {
    .application {
        padding: 4.9rem 0 5.8rem;
    }
}

.application__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 34.3rem;
    margin-inline: auto;
}

@media screen and (min-width: 768px) {
    .application__container {
        max-width: 90rem;
    }
}

.application__text {
    font-size: 1.6rem;
    padding: 0 0.7rem 1rem;
}

@media screen and (min-width: 768px) {
    .application__text {
        padding: 0;
        line-height: 2.625;
        margin-bottom: 1.1rem;
    }
}

.application__list {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .application__list {
        display: flex;
        justify-content: space-between;
    }
}

.application__btn {
    color: #ffffff;
    background: linear-gradient(to right, rgb(2, 113, 224), rgb(50, 150, 250));
    display: block;
    border-radius: 3.5rem;
    text-align: center;
    line-height: 6.9rem;
    font-size: 2rem;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .application__btn {
        line-height: 7.5rem;
        border-radius: 3.8rem;
        display: block;
        font-size: 2.4rem;
        font-weight: bold;
        padding-left: 2.2rem;
    }
}

.application__btn--orange {
    background: #f6aa00;
    margin-top: 2rem;
}

@media screen and (min-width: 768px) {
    .application__btn {
        margin-top: 0;
    }
}

.application__btn--nav {
    width: 28.5rem;
    height: 6.1rem;
    font-size: 2rem;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .application__btn--nav {
        width: 28.2rem;
        height: 6.1rem;
        line-height: 6.1rem;
    }
}

.application__btn:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

/* 選ばれる3つの理由 */
.reason {
    padding-top: 1.6rem;
}

@media screen and (min-width: 768px) {
    .reason {
        padding: 6.3rem 1.7rem 7rem;
    }
}

.reason__container {
    max-width: 1200px;
    margin-inline: auto;
    padding: 0 1.7rem;
}

@media screen and (min-width: 768px) {
    .reason__container {
        padding: 0 1.9rem 0;
    }
}

.reason__text {
    padding-top: 2px;
}

@media screen and (min-width: 768px) {
    .reason__text {
        padding-top: 0;
    }
    .reason__media {
        width: 48.3%;
    }
    .reason__image-wrapper {
        padding: 0 2rem 0 0;
    }
}

.reason__title {
    font-size: 2.8rem;
    text-align: center;
    margin: 0 0 1.3rem 0;
}

@media screen and (min-width: 768px) {
    .reason__title {
        font-size: 3.6rem;
        margin-bottom: 2.2rem;
    }
}

.reason__content-heading {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.4;
    padding-top: 2px;
}

@media screen and (min-width: 768px) {
    .reason__content-heading {
        font-size: 2.4rem;
        line-height: 1.75;
    }
    .reason__content-heading-second {
        line-height: 1.75;
    }
}

.reason--three-txt {
    font-size: 4rem;
    color: #f11f8d;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 768px) {
    .reason--three-txt {
        font-size: 5.4rem;
    }
}

.reason__content {
    padding: 0 0 3.5rem 0;
}

@media screen and (min-width: 768px) {
    .reason__content {
        display: flex;
        justify-content: space-between;
        padding: 0 0 2.7rem 0;
    }
}

.reason__content-body {
    font-size: 1.6rem;
    padding: 1.1rem 0 0;
    line-height: 1.75;
    letter-spacing: -0.1px;
}

@media screen and (min-width: 768px) {
    .reason__content-body {
        padding: 1.3rem 0 0;
    }
}

.reason__image {
    width: 100%;
}

.reason__image_wrapper {
    text-align: center;
}


.reason__content--txt {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 2.4rem;
    color: #f11f8d;
    height: 5.5rem;
    line-height: 1.75;
    letter-spacing: -0.4px;
}

@media screen and (min-width: 768px) {
    .reason__content--txt {
        line-height: 1.4;
        font-size: 2.8rem;
        letter-spacing: -0.4px;
    }
}

.reason__content--txt-second {
}

@media screen and (min-width: 768px) {
    .reason__content--txt-second {
    }
}

.reason__content--txt-highlight {
    font-size: 3.6rem;
    font-weight: bold;

}

@media screen and (min-width: 768px) {
    .reason__content--txt-highlight {
        font-size: 4.2rem;
    }
}

@media screen and (min-width: 768px) {
    .reason__content--point2 {
        flex-direction: row-reverse;
        padding-top: 2rem;
    }
    .reason__content--point3 {
        padding: 1.9rem 0 0 0rem;
    }
}

/* コース・目的エリア */
.choose {
    padding: 6.1rem 0 6.37rem 0;
}

@media screen and (min-width: 768px) {
    .choose {
        padding: 6.6rem 0 6.9rem;
    }
}

.choose__title {
    text-align: center;
    font-size: 2.8rem;
    padding: 0rem 0 0 1.7rem;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
    .choose__title {
        font-size: 3.6rem;
        padding: 0;
        margin-bottom: 2.5rem;
    }
}

.choose__container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}

@media screen and (min-width: 768px) {
    .choose__container {
        padding: 0 1.9rem;
    }
}

.choose__tabs {
    display: flex;
    padding: 0 1.6rem;
}

@media screen and (min-width: 768px) {
    .choose__tabs {
        padding: 0;
    }
}

.choose__content {
    background: #f2f9ff;
    padding: 2.8rem 1.6rem;
    display: none;
}

@media screen and (min-width: 768px) {
    .choose__content {
        border-radius: 0 0 1.2rem 1.2rem;
        padding-top: 3rem;
    }
    .choose__content--top {
        display: flex;
        justify-content: space-evenly;
        margin: 0 0 3.6rem 0;
    }
    .choose__content--image-select {
        padding: 0 1.5rem 0;
    }
    .choose__content--bottom {
        display: flex;
        justify-content: space-evenly;
        margin: 0;
    }
}

.choose__tab--by-grade-level {
    margin: 0 1.5rem 0 0;
    font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
    .choose__tab--by-grade-level {
        margin: 0 3.4rem 0 0;
    }
}

.choose__tab--by-purpose {
    font-size: 1.8rem;
}

.choose__tab {
    background-color: #f0f0f0;
    width: 100%;
    padding: 1.8rem 1.9rem 1.7rem 1.9rem;
    border-radius: 1.2rem 1.2rem 0 0;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .choose__tab {
        font-size: 2.4rem;
    }
}

.choose__tab--active {
    background-color: #f2f9ff;
    color: #333333;
}

.cource__image {
    width: 100%;
}

.image-zoom-wrapper {
    overflow: hidden;
    border-radius: 1.2rem;
}

@media screen and (min-width: 768px) {
    .image-zoom {
        transition: transform 0.3s ease;
        width: 100%;
        height: auto;
    }
    .image-zoom-wrapper:hover .image-zoom {
        transform: scale(1.2);
    }
}

.qa-and-classrooms__item {
    border-radius: 0;
}

.choose__image--arrow {
    width: 1.38rem;
    height: 1.184rem;
}

@media screen and (min-width: 768px) {
    .choose__image--arrow {
        width: 1.731rem;
        height: 1.41rem;
    }
}

.choose__content--active {
    display: block;
}

.choose__content--select {
    display: flex;
    margin: 0.9rem 0 2.5rem 0;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .choose__content--select {
        margin: 0;
        margin: 1.4rem 0 0 0;
    }
    .image__container {
        display: block;
        overflow: hidden;
    }
}

.choose__content--image {
    display: flex;
    align-items: center;
    margin: 0 0.82rem 0 0;
}

.choose__txt {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 0.82rem;
    white-space: nowrap;
}

@media screen and (min-width: 768px) {
    .choose__txt {
        padding-left: 1.17rem;
    }
}

.choose__link:hover {
    color: #0056b3;
}

/* 費用エリア */
.cost {
    padding: 6rem 1.7rem 6.4rem;
}

@media screen and (min-width: 768px) {
    .cost {
        padding: 6.7rem 0 6.7rem;
    }
}

.cost__container {
    max-width: 600px;
    margin-inline: auto;
}

.cost__title {
    font-size: 2.8rem;
    text-align: center;
    padding: 0 0 1.5rem 1.6rem;
}

@media screen and (min-width: 768px) {
    .cost__title {
        font-size: 3.6rem;
        padding: 0 0 2.5rem 0;
    }
}

.cost__table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 0.3rem solid #cccccc;
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .cost__table {
        font-size: 1.8rem;
    }
}

.cost__td {
    border: 0.1rem solid #cccccc;
}

.cost__table--head {
    background-color: #f5f5f5;
}

.cost__table--head-left {
    padding: 1.8rem 1rem 1.7rem 0.8rem;
}

@media screen and (min-width: 768px) {
    .cost__table--head-left {
        padding: 2.1rem 0;
        width: 7rem;
    }
}

.cost__table--head-right {
    padding: 1.9rem 1.1rem 1.6rem 0;
    width: 22.4rem;
}

@media screen and (min-width: 768px) {
    .cost__table--head-right {
        padding: 0.2rem 0 0 0;
    }
}

.cost__table--right-td {
    padding-right: 0.5rem;
}

@media screen and (min-width: 768px) {
    .cost__table--right-td {
        padding-right: 0;
    }
}


.cost__table--right-td-num {
    font-size: 2.8rem;
    color: #f23397;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .cost__table--right-td-num {
        font-size: 3.2rem;
    }
}

.cost__table--right-td-txt {
    font-size: 1.6rem;
    color: #f23397;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .cost__table--right-td-txt {
        font-size: 1.8rem;
    }
}

.cost__table--left-td {
    padding: 1.76rem 0;
}

.cost__table--left-td-last {
    padding-bottom: 1.4rem;
}

@media screen and (min-width: 768px) {
    .cost__table--left-td {
        padding: 2.3rem 0;
    }
    .cost__table--left-td-last {
        padding: 2.1rem 0;
    }
}

/* お近くの教室を探す・よくあるご質問 */
.qa-and-classrooms {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .qa-and-classrooms {
        display: flex;
        height: 32rem;
    }
}

.qa-and-classrooms__picture {
    display: block;
    width: 100%;
    height: 100%;
}

.qa-and-classrooms__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .qa-and-classrooms__image {
        height: 100%;
    }
}

.qa-and-classrooms__link:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.qa-and-classrooms__item {
    position: relative;
    height: 17rem;
}

@media screen and (min-width: 768px) {
    .qa-and-classrooms__item--qa {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 768px) {
    .qa-and-classrooms__item--classrooms {
        width: 100%;
        height: 100%;
    }
}

.qa-and-classrooms__text {
    position: absolute;
    top: 50%;
    left: 4.5%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    font-size: 2.2rem;
    color: white;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .qa-and-classrooms__text {
        font-size: 3.2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* フッターのスタイル */
footer {
    display: flex;
    height: 8.3rem;
    background-color: #dddddd;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    footer {
        text-align: center;
        padding: 3.4rem 3.2rem 0 0;
    }
}

.footer__txt {
    width: 100%;
    padding: 0 0 0 3.1rem;
    font-family: "Poppins", sans-serif;
}

.application--last {
    margin: 0 0 0 0;
}

@media (min-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}
